
#logo {
  width: 10vw;
  margin-top: 2vw;
  margin-left: 50vw;
  transform: translate(-50%);
}




#hobelbankHeaderContainer {
  position: relative;
  width: 80%;
  display: block;
  margin: 1.5cm auto;
}

#hobelbankHeader {
  width: 100%;
}

#hobelbankHeaderContainer > span {
  position: absolute;
  /* top: 47.8vh; */
  /* top: 87%; */
  bottom: 2%;
  /* left: 51.5vw; */
  left: 25%;
  /* transform: translate(-50%); */
  font-size: 8vmin;
  color: var(--gray);
  font-family: "TrashHand";
}

#footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#footer > #datenschutz-impressum, #footer > :is(#instagram, #facebook) {
  /* float: right; */
  color: var(--pappe);
  margin-bottom: .5vh;
  text-decoration: none;
  background-color: var(--gray);
  padding: 5px;
  border-radius: 5px;
}
#footer > #datenschutz-impressum:hover, #footer > :is(#instagram, #facebook):hover {
  color: var(--pappe_darken);
}
#footer > #instagram {
  margin-right: .5vw;
}
