#bild {
  background: url("/imgs/nicole_jette/n&j.jpg");
  width: 90%;
  padding-top: 45%;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  margin-top: .75cm;
}

#bild > span:not(#mehrLesen) {
    position: absolute;
    font-size: 6vmin;
    width: 100%;
    text-align: center;
    color: var(--pappe);
    font-family: "TrashHand";
    /* right: 7.5%; */
}

#bild > span:nth-child(1) {
  /* color: red; */
  top: 80%;
}

#bild > #mehrLesen {
  color: white;
  position: absolute;
  bottom: 5px;
  text-align: center;
  left: 50%;
  font-size: 2vmin;
  cursor: pointer;
}


#textContainer {
  margin-top: 1cm;
  display: flex;
  flex-direction: column;
  /* scroll-snap-type: y mandatory; */
}

#textContainer > .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* grid-gap: 10px; */
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1cm;
  grid-template-areas: "image text";
  position: relative;
  /* scroll-snap-align: start; */
}

#textContainer > .item:nth-child(odd) {
  grid-template-areas: "text image";
}
#textContainer > .item > .text {
  background-color: var(--pappe);
  grid-area: text;
  text-align: center;
  position: relative;
}
#textContainer > .item > .text > .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 1cm;
  max-height: 80%;
}
#textContainer > .item > .text > .content h3 {
  font-size: 2em;
  font-family: "TrashHand";
}

#textContainer > .item img {
  width: 100%;
  grid-area: image;
}


#textContainer > .item div.img {
  position: relative;
}
#textContainer > .item img, #itemContainer > .item div.img {
  width: 100%;
  grid-area: image;
  position: relative;
}
#textContainer > .item div.img > img.hidden {
  display: none;
}

#textContainer > .item div.img > .back, #textContainer > .item div.img > .next {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
#textContainer > .item div.img > .back {
  left: 5px;
  transform: scaleX(-1) translateY(-50%);
}
#textContainer > .item div.img > .next {
  right: 5px;
}
