
/* #zettelZ {
  width: 60%;
  display: block;
  margin: .5cm auto;
} */

#bild {
  background: url("/imgs/rezepte/schokotomatespinatei.jpg");
  width: 90%;
  padding-top: 45%;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  margin-top: -.75cm;
}

#bild > span:not(#mehrLesen) {
    position: absolute;
    font-size: 3vw;
    width: 100%;
    text-align: center;
    color: var(--pappe);
    font-family: "TrashHand";
}

#bild > span:nth-child(1) {
  /* color: red; */
  top: 85%;
  right: 5%;
}

#bild > #mehrLesen {
  color: white;
  position: absolute;
  bottom: 5px;
  text-align: center;
  left: 50%;
  font-size: 2vmin;
  cursor: pointer;
}

#textExpand {
  background-color: var(--pappe);
  width: 90%;
  margin: 0 auto;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 2s;
  /* transition: padding 2s; */
  overflow: hidden;
  text-align: center;
  padding: 1cm;
}
#textExpand.closed {
  transform: scaleY(0);
  padding: 0;
}


p {
  margin-top: 1cm;
  color: var(--pappe);
  text-align: center;
}

#recipeContainer {
  margin-top: 1cm;
  display: flex;
  flex-direction: column;
}

#recipeContainer > .recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* grid-gap: 10px; */
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1cm;
  grid-template-areas: "image text";
  position: relative;
}

#recipeContainer > .recipe:nth-child(even) {
  grid-template-areas: "text image";
}

#recipeContainer > .recipe > .text {
  background-color: var(--pappe);
  padding: 10px;
  grid-area: text;
}

#recipeContainer > .recipe img {
  width: 100%;
  grid-area: image;
  position: relative;
  z-index: 1;
}
#recipeContainer > .recipe.witzig::after {
  content: "";
  display: inline-block;
  grid-area: image;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-image: url("/imgs/rezepte/witzig.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
#recipeContainer > .recipe * {
  color:  var(--gray);
  position: relative;
}
#recipeContainer > .recipe > div > h3 {
  font-size: 7vmin;
  text-align: center;
  margin-top: 20%;
  font-weight: 300;
  font-family: "TrashHand";

}
#recipeContainer > .recipe > div > a {
  padding: 1vmin;
  /* background-color: var(--pappe_darken); */
  border: 1px solid #333;
  text-decoration: none;
  font-weight: 200;
  font-style: italic;
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 30%;
  font-size: 3vmin;
  transition: background-color .5s;
}
#recipeContainer > .recipe > div > a > span {
  font-family: "TrashHand";
  font-style: normal;
  font-size: 4vmin;
}
#recipeContainer > .recipe > div > a:hover {
  /* background-color: #999; */
  /* color: #ddd; */
}
#recipeContainer > .recipe:hover > div > a {
  /* border-color: #111; */
}
#recipeContainer > .recipe > div > .tags {
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  /* padding-top: 10%; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#recipeContainer > .recipe > div > .tags > * {
  margin: 0 5px;
  font-size: 2vmin;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

#searchContainer {
  background-color: var(--pappe);
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
#searchContainer * {
  font-size: 2rem;
}

#searchContainer #delete-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

#loadMore {
  background-color: var(--pappe);
  border: none;
  padding: 20px;
  font-size: 2rem;
  font-family: "TrashHand";
  display: block;
  margin: 0 auto;
  margin-bottom: 1cm;
  width: 90%;
  cursor: pointer;
}
#loadMore.hidden {
  display: none;
}
